/* GLOBAL SETTINGS */
body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* HEADER */
header {
    background: rgb(122, 183, 252, 40%);
    position: relative;
    top: 0px;
    width: 100%;
}
header h1 {
    position: relative;
    text-align: center;
    margin: 0px 0px 20px 0px;
}
header p{
    position: relative;
    text-align: center;
    padding: 0px, 0px;
    margin: 0px;
}

/* NAV BAR */
nav ul {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    padding: 0px;
}
nav ul li {
    list-style: none;
    color: black;
    width: 20%;
    text-align: center;
}
nav ul li a {
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}

/* CSS FOR DRUM MACHINE */
.drumMachine {
    position: relative;
    width: 1600px;
    margin: auto;
    margin-top: 20px;
}

/* PLAY, STOP AND PAUSE BUTTONS */
.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.controls button {
    background-color: white;
    border: black solid 2px;
    border-radius: 8px;
    width: 50px;
    height: 40px;
    margin: 0px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.controls button:focus { 
    outline:0;
}
#play:hover {
    background-color: rgb(3, 209, 3, 40%);
    cursor: pointer;
}
#stop:hover {
    background-color: rgb(255, 0, 0, 40%);
    cursor: pointer;
}
#pause:hover {
    background-color: rgba(190, 124, 0, 0.4);
    cursor: pointer;
}

/* BPM AND SWING SLIDER */
.bpmSliderContainer { 
    padding: 20px 0px 20px 20px;
    width: 230px;
}
.swingSliderContainer {
    padding: 20px 0px 20px 20px;
    width: 230px;
}
input.slider {
    margin: 0px 2px;
    position: relative;
    top: 0px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60%; /* Full-width */
    height: 10px; /* Specified height */
    background: #a3a3a3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
input.slider:hover {
    opacity: 1;
}
input.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 12px;
    background: rgb(122, 183, 252); /* Green background */
    cursor: pointer; /* Cursor on hover */
} 
input.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(122, 183, 252, 40%); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* NEW SAMPLE SELECT */
.newSampleSelectContainer {
    position: relative;
    display: flex;
    width: 150px;
    padding: 0px 20px;
}
.newSampleSelectContainer select {
    display: block;
    width: 100px;
    margin: 20px auto;
}
.newSampleSelectContainer select:hover {
    cursor: pointer;
}
.newSampleSelectContainer button:hover {
    cursor: pointer;
    background-color: rgb(122, 183, 252, 40%);
}

/* SAMPLE UPLOAD */
.sampleUploadContainer {
    width: 430px;
    height: 60px;
    display: flex;
}
.sampleUploadContainer #sampleUpload {
    width: 180px;
    height: 20px;
    margin: auto 0px;
}
.sampleUploadContainer #sampleUploadName {
    height: 20px;
    margin: auto 0px;
    padding: 0px;
}
.sampleUploadContainer button:hover {
    cursor: pointer;
    background-color: rgb(122, 183, 252, 40%);
}

/* USERS ONLINE TEXT */
.userCountContainer {
    height: 60px;
}
.userCountContainer p {
    height: 20px;
    margin: 20px 0px;
}

/* CHANNEL CONTROL */
.channel .channel-ctrl {
    margin: 0px 20px;
}
.channel .channel-ctrl p {
    text-align: center;
    margin: 0px;
}
.channel .channel-ctrl button {
    background-color: white;
    border: black solid 2px;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 12px;
}
button.remove:hover {
    background-color: rgb(255, 0, 0, 40%);
    cursor: pointer;
}
button.clear:hover {
    background-color: rgb(255, 0, 0, 40%);
    cursor: pointer;
}
.channel .channel-ctrl .vSlider {
    margin: 0px 2px;
    position: relative;
    top: 0px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 53%; /* Full-width */
    height: 10px; /* Specified height */
    background: #a3a3a3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.channel .channel-ctrl .vSlider:hover {
    opacity: 1;
}
.channel .channel-ctrl .vSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 12px;
    background: rgb(122, 183, 252); /* Green background */
    cursor: pointer; /* Cursor on hover */
} 
.channel .channel-ctrl .vSlider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(122, 183, 252, 40%); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* CSS FOR CHANNELS */
.channel {
    padding-bottom: 10px ;
    display: flex;
    justify-content: space-evenly;
}
.channel .channelBtns button {
    border: black solid 2px;
    padding: 30px;
    margin: 0px 5px;
    border-radius: 12px;
}
.channel .channelBtns button:hover {
    cursor: pointer;
    border: black dotted 2px;
}

/* Gets rid of default blue outline when buttons are clicked */
.channel button:focus { 
    outline:0;
}
.cursor {
    position: absolute;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}




/* ABOUT */
/* DESCRIPTIONS */
.aboutContainer {
    display: grid;
    margin-top: 100px;
    justify-content: center;
    grid-template-columns: 500px 500px;
    grid-column-gap: 50px;
}

.aboutContainer img {
    width: 500px;
    height: 500px;
    border: 2px black solid;
    border-radius: 12px;
}

