/* GLOBAL SETTINGS */
body {
    padding: 0px;
    margin: 0px;
}

/* HEADER */

/* CSS FOR DRUM MACHINE */

.drumMachine {
    position: relative;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}

/* CONTROLS */

h6 {
    padding: 0px !important;
}

.slider {
    height: 0px !important;
}

/* CSS FOR CHANNELS */

.channel {
    padding-bottom: 10px ;
    display: flex;
    justify-content: space-evenly;
}

.channel .channel-ctrl {
    padding: 0px 20px;
}

.channel .channel-ctrl p {
    text-align: center;
}

.channel button {
    border: black solid 2px;
    padding: 30px 20px;
    margin: 0px 5px;
    border-radius: 12px;
}

.channel button:hover {
    cursor: pointer;
    border: black dotted 2px;
}

/* Gets rid of default blue outline when buttons are clicked */
.channel button:focus { 
    outline:0;
}

.cursor {
    position: absolute;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

/* ABOUT */
/* DESCRIPTIONS */

.about {
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.about img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}

.about h1 {

}